* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  max-width: 100%;
  background-color: rgb(27, 26, 26);
}

img{
  width: 100%;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
  margin-bottom: 17px;
}

span{
  color: grey;
  font-size: 16px;
}

.improv{
  background-color: rgb(252, 242, 159);
  position: relative;
  top: 37px;
  width: 43%;
  left: -10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius:20px ;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 20px;
}

.improv p{
  padding: 5px;
  font-weight: 800;
}

.box{
  display: flex;
  flex-direction: column;
  background-color: rgb(178, 160, 229);
  margin: 60px auto;
  padding: 30px 115px 60px 115px;
  width: 48%;
}

.child2{
  background-color: white;
  padding: 20px 20px 30px 20px;
  width: 100%;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.child1{
  display: flex;
  margin: auto;
}

@media only screen and (min-width: 375px) and (max-width: 650px){
  .box{
    margin: 60px auto;
    padding: 30px 40px 60px 40px;
    width: 75%;
  }

  .child2{
    padding: 20px 20px 30px 20px;
    width: 100%;
    margin: auto;
  }

  .improv{
    top: 55px;
    width:60%;
    left: -10px;
  }

}

@media only screen and (min-width: 651px) and (max-width: 1190px){
  .box{
    margin: 60px auto;
    padding: 30px 80px 60px 80px;
    width: 70%;
  }

  .child2{
    padding: 20px 20px 30px 20px;
    width: 100%;
    margin: auto;
  }

  .improv{
    top: 45px;
    width:50%;
    left: -10px;
  }

}

